$primary: #41bacd

$theme-red: #fc494d
$theme-green: #20ca86
$theme-yellow: #fdae2a
$theme-blue: #36c0cd

$column-gap: 0.5rem

$body-family: 'Avenir', Helvetica, Arial, sans-serif
$family-monospace: 'SF Mono', Consolas, 'Liberation Mono', Menlo, Courier, monospace

$title-weight: 900

=add-theme-colors
  &.is-red
    background-color: $theme-red
    color: $white
  &.is-green
    background-color: $theme-green
    color: $white
  &.is-yellow
    background-color: $theme-yellow
    color: $white
  &.is-blue
    background-color: $theme-blue
    color: $white

@import ~bulma/sass/utilities/_all.sass
